/* 기본 */
/* flex-direction: row */
/* main axis: 가로 => justify-content*/
/* cross axis: 세로 => align-litems*/

.wrapper {
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.box {
    width: 100px;
    height: 50px;;
    background-color: blue;
}